/* Fonte todas páginas do EZ-MED */

body {
	font-family: 'Montserrat', sans-serif;
}


/* CSS header */


header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}


/* CSS página inicial */


main{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 1080px;
	margin: 0 auto;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal p {
	margin: 0 15px 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}


/* CSS páginas parceiras */


main{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}


/* CSS página contato */


main{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}
form {
	margin: 40px 0;
}

form label, form legend, form select {
	display:block;
	font-size: 20px;
	margin: 0 15px 18px;
}

.input-padrao {
	display: block;
	margin: 0 15px 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:20%;
	padding: 15px 0;
	margin: 0 40px 20px;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 0 20px 40px;
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

td, th {
	border: 2px solid #000000;
	padding: 8px 15px;
}


/* CSS footer de todas páginas */


footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}